.kt-aside__brand-logo a {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
}
.kt-aside__brand-logo a:hover{
    text-decoration: underline;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__logo {
    text-align: center;
    margin: 0 auto 2rem auto;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__head {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.kt-login__logo img{
    width: 100%;
}

.kt-aside-menu {
    background-color: #007d53;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon {
    color: #fff;
}
.kt-aside .kt-aside-menu > .kt-menu__nav .kt-menu__item > .kt-menu__link:not(.kt-menu__link--active):not(.kt-menu__link--here):not(.kt-menu__link--hover) [class*=" flaticon2-"] {
    color: #fff;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__section .kt-menu__section-text {
    color: #fff;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    color: #fff;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link {
    background-color: #02563a;
}

.kt-header__topbar {
    margin-left: auto;
}

.kt-aside .kt-aside-menu {
    margin: 0;
}
.dataTables_wrapper .pagination .page-item.active > .page-link {
    background: #007d53;
    color: #ffffff;
}
.btn-primary {
    background-color: #007d53;
    border-color: #007d53;
}

.btn-brand {
    color: #fff;
    background-color: #007d53;
    border-color: #007d53;
    color: #ffffff;
}
@media (min-width: 1025px){
.kt-aside__brand {
    background-color: #02563a;
    -webkit-box-shadow: none;
    box-shadow: none;
}

}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-icon {
    color: #0abb87;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading, .kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link {
    background-color: #02563a;
}

.nav-tabs.nav-tabs-line.nav-tabs-line-primary.nav.nav-tabs .nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-primary.nav.nav-tabs .nav-link.active, .nav-tabs.nav-tabs-line.nav-tabs-line-primary a.nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-primary a.nav-link.active {
    color: #007d52;
    border-bottom: 1px solid #02563a;
}

.kt-header .kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link .kt-menu__link-text, .kt-header .kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-text, .kt-header .kt-header-menu .kt-menu__nav > .kt-menu__item:hover > .kt-menu__link .kt-menu__link-text {
    color: #007d52;
}
